<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <%- include ../common/include-meta.ejs %>
    <%- include ../common/include-css.ejs %>
    <%- include ../common/include-js.ejs %>
    <title>找回登录密码</title>

    <script type="text/javascript">
        require(['user/forget-password']);
    </script>

</head>
<body class="theme-bg-color font-color-white">
<div class="container-fluid">
    <div class="page-header">
        <div class="row">
            <div class="col-xs-4">
                <div class="pull-right">
                    <a href="/"><img style="display: inline-block;" src="/img/brand.png"/></a>
                    <span class="site-delimiter"></span>
                    <span style="display: inline-block; font-size: 18px;line-height: 30px;">找回登录密码</span>
                </div>
            </div>
        </div>
    </div>
    <div class="row nb-content">
        <div class="col-xs-10 col-xs-offset-2">
            <div class="row">
                <div class="col-xs-10">
                    <ul class="steps-bar steps-bar--dark cf">
                        <li class="step step--current" style="z-index:4;width:25%;">
                            <span class="step__num">1.</span>
                            <span>确认账号</span>
                            <span class="arrow__background"></span>
                            <span class="arrow__foreground"></span>
                        </li>
                        <li class="step step--post" style="z-index:3;width:25%;">
                            <span class="step__num">2.</span>
                            <span>选择验证方式</span>
                            <span class="arrow__background"></span>
                            <span class="arrow__foreground"></span>
                        </li>
                        <li class="step step--post" style="z-index:2;width:25%;">
                            <span class="step__num">3.</span>
                            <span>验证/修改</span>
                            <span class="arrow__background"></span>
                            <span class="arrow__foreground"></span>
                        </li>
                        <li class="step step--post" style="z-index:1;width:25%;">
                            <span class="step__num">4.</span>
                            <span>完成</span>
                            <span class="arrow__background"></span>
                            <span class="arrow__foreground"></span>
                        </li>
                    </ul>
                </div>
            </div>


            <div class="row">
                <div class="col-xs-10">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <form class="form-horizontal">
                                <div class="form-group">
                                    <label class="col-xs-3 control-label">邮箱</label>
                                    <div class="col-xs-5">
                                        <input type="email" class="form-control"  placeholder="邮箱">
                                    </div>
                                    <div class="col-xs-4">
                                        <label class="nb-form-error control-label"></label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label  class="col-xs-3 control-label">邮箱验证码</label>
                                    <div class="col-xs-5">
                                        <input type="password" class="form-control"  placeholder="邮箱验证码">
                                    </div>
                                    <div class="col-xs-4">
                                        <label class="nb-form-error control-label"></label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-xs-offset-3 col-xs-5">
                                        <button type="submit" class="btn btn-danger btn-block">注册</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


<%- include ../common/footer.ejs %>
</body>
</html>