<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <%- include  ../common/include-meta.ejs%>
    <%- include  ../common/include-css.ejs%>
    <%- include  ../common/include-js.ejs%>
    <title>demo</title>

    <script type="text/javascript">
        require(['js/index/index']);
    </script>

</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <img src="img/brand.png"/>
            </a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="#" class="dropdown-toggle">注册</a></li>
            <li><span class="nav-span">|</span></li>
            <li><a href="#">登录</a></li>
        </ul>
    </div>
</nav>


<div id="map-footer" class="map-footer">
    <div class="map-footer-entry">
        <a class="map-footer-link" href="http://waimai.meituan.com/mobile/download/default" target="_blank" rel="nofollow">手机版下载</a>
        <i class="map-footer-separator">|</i>
        <a class="map-footer-link" href="http://weibo.com/u/3949575070" target="_blank" rel="nofollow">关注微博</a>
        <i class="map-footer-separator">|</i>
        <a class="map-footer-link map-footer-weixing" href="javascript:;" rel="nofollow">关注微信</a>
        <i class="map-footer-separator">|</i>
        <a class="map-footer-link" href="http://kaidian.waimai.meituan.com" target="_blank" rel="nofollow">我要开店</a>
        <i class="map-footer-separator">|</i>
        <a class="map-footer-link" href="http://waimai.meituan.com/help/banma" target="_blank" rel="nofollow">配送合作申请</a>
    </div>
    <div class="map-footer-copyright">©2015 meituan.com <a target="_blank" href="http://www.miibeian.gov.cn/" rel="nofollow">京ICP证070791号</a> 京公网安备11010502025545号</div>
</div>

</body>
</html>