<div id="map-footer" class="map-footer">
    <div class="map-footer-entry">
        <a class="map-footer-link" href="http://waimai.meituan.com/mobile/download/default" target="_blank" rel="nofollow">手机版下载</a>
        <i class="map-footer-separator">|</i>
        <a class="map-footer-link" href="http://weibo.com/u/3949575070" target="_blank" rel="nofollow">关注微博</a>
        <i class="map-footer-separator">|</i>
        <a class="map-footer-link map-footer-weixing" href="javascript:;" rel="nofollow">关注微信</a>
        <i class="map-footer-separator">|</i>
        <a class="map-footer-link" href="http://kaidian.waimai.meituan.com" target="_blank" rel="nofollow">我要开店</a>
        <i class="map-footer-separator">|</i>
        <a class="map-footer-link" href="http://waimai.meituan.com/help/banma" target="_blank" rel="nofollow">配送合作申请</a>
    </div>
    <div class="map-footer-copyright">©2015 meituan.com <a target="_blank" href="http://www.miibeian.gov.cn/" rel="nofollow">京ICP证070791号</a> 京公网安备11010502025545号</div>
</div>